@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Plant Diary</h1>
    <p>Catalog your plants, where they are, when they have been watered and fertilized.</p>
</div>
